player-connection-mode=Listen
player-connection-guid=1662518701
player-connection-debug=0
player-connection-project-name=Kuru Kuru
player-connection-ip=10.52.8.7
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0d920a8593284cb3baa5ca9f4fe2d560
